<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中国文艺家</title>
<meta http-equiv="x-ua-compatible" content="ie=7">
<meta name="author" content="wuyanshi">
<!-- 页面在客户端不缓存;must-revalidate 是针对某些浏览器通过返回按钮回到上一个标签而不重加载 -->
<meta http-equiv="Cache-Control" content="must-revalidate,no-cache">
<!-- 页面刷新 --> 
<meta http-equiv="refresh" content="321;">
<!-- 在iPhone的浏览器中页面将以原始大小显示，并不允许用户手动缩放 -->
<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no;">
<meta name="format-detection" content="telephone=no">
<!-- 默认手机最佳宽度 -->
<meta name="MobileOptimized" content="321"> 
<link rel="stylesheet" type="text/css" href="/style/style.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<body>
<div class="container" style="padding:0px;">
	<div class="rd_ban">
    	 <img src="/images/rdb.png" />
         <div class="rd_btop">
         	 <a href="#"><img src="/images/fhbs.png" /></a>
         	 <a href="#" class="rig"><img src="/images/fxt.png" /></a>
             <div style="clear:both"></div>
         </div>
    </div>
    <div class="rdphb">
    	 <p>更新于：2019-09-09  15 ：00</p>
         <ul>
         	 <li>
             	<i>1</i><a href="#">迪丽热巴金凤凰最佳新人奖</a><span class="rs">热</span>
             	<span class="rd">693.1万</span>
                <div style="clear:both"></div>
             </li>
         	 <li>
             	<i>2</i><a href="#">迪丽热巴金凤凰最佳新人奖</a><span class="tj">荐</span>
             	<span class="rd">693.1万</span>
                <div style="clear:both"></div>
             </li>
         	 <li>
             	<i>3</i><a href="#">迪丽热巴金凤凰最佳新人奖</a>
             	<span class="rd">693.1万</span>
                <div style="clear:both"></div>
             </li>
         	 <li>
             	<i>4</i><a href="#">迪丽热巴金凤凰最佳新人奖</a>
             	<span class="rd">693.1万</span>
                <div style="clear:both"></div>
             </li>
         	 <li>
             	<i>5</i><a href="#">迪丽热巴金凤凰最佳新人奖</a>
             	<span class="rd">693.1万</span>
                <div style="clear:both"></div>
             </li>
         	 <li>
             	<i>6</i><a href="#">迪丽热巴金凤凰最佳新人奖</a>
             	<span class="rd">693.1万</span>
                <div style="clear:both"></div>
             </li>
         	 <li>
             	<i>7</i><a href="#">迪丽热巴金凤凰最佳新人奖</a>
             	<span class="rd">693.1万</span>
                <div style="clear:both"></div>
             </li>
         </ul>
    </div>
</div>
</body>
</html>
