<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中国文艺家</title>
<meta http-equiv="x-ua-compatible" content="ie=7">
<meta name="author" content="wuyanshi">
<!-- 页面在客户端不缓存;must-revalidate 是针对某些浏览器通过返回按钮回到上一个标签而不重加载 -->
<meta http-equiv="Cache-Control" content="must-revalidate,no-cache">
<!-- 页面刷新 --> 
<meta http-equiv="refresh" content="321;">
<!-- 在iPhone的浏览器中页面将以原始大小显示，并不允许用户手动缩放 -->
<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no;">
<meta name="format-detection" content="telephone=no">
<!-- 默认手机最佳宽度 -->
<meta name="MobileOptimized" content="321"> 
<link rel="stylesheet" type="text/css" href="/style/style.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<body>
<div class="container" style="padding:0px;">
	<div class="ssrs">
	  <div class="header">
     	 <div class="ss_left">
         	 <input type="submit" class="fl_btn" value="" />
             <input type="text" placeholder="电影搜索" class="fl_inpu" />
             <div style="clear:both"></div>
         </div>
         <a href="#" class="ssxx_rig"><img src="/images/fh.png" /></a>
         <div style="clear:both"></div> 
     </div>
     <div class="ssrd">
     	 <h2><img src="/images/hot.png" />热点<a href="#">查看热点榜</a></h2>
         <div class="rstp">
         	 <ul>
             	 <li>
                 	 <a href="#">
                     	 <img src="/images/rst1.png" />
                         <p>肖战诛仙见面会</p>
                     </a>
                 </li>
             	 <li>
                 	 <a href="#">
                     	 <img src="/images/rst1.png" />
                         <p>肖战诛仙见面会合唱<span class="v1">热</span></p>
                     </a>
                 </li>
             	 <li>
                 	 <a href="#">
                     	 <img src="/images/rst1.png" />
                         <p>和林一泽撤回干燥<span class="v2">荐</span></p>
                     </a>
                 </li>
             	 <li>
                 	 <a href="#">
                     	 <img src="/images/rst1.png" />
                         <p>肖战诛仙见面会</p>
                     </a>
                 </li>
             	 <li>
                 	 <a href="#">
                     	 <img src="/images/rst1.png" />
                         <p>肖战诛仙见面会合唱<span class="v1">热</span></p>
                     </a>
                 </li>
             	 <li>
                 	 <a href="#">
                     	 <img src="/images/rst1.png" />
                         <p>和林一泽撤回干燥<span class="v2">荐</span></p>
                     </a>
                 </li>
                 <div style="clear:both"></div>
             </ul>
         </div>
     </div>
  </div>
</div>
</body>
</html>
