<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中国文艺家</title>
<meta http-equiv="x-ua-compatible" content="ie=7">
<meta name="author" content="wuyanshi">
<!-- 页面在客户端不缓存;must-revalidate 是针对某些浏览器通过返回按钮回到上一个标签而不重加载 -->
<meta http-equiv="Cache-Control" content="must-revalidate,no-cache">
<!-- 页面刷新 --> 
<meta http-equiv="refresh" content="321;">
<!-- 在iPhone的浏览器中页面将以原始大小显示，并不允许用户手动缩放 -->
<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no;">
<meta name="format-detection" content="telephone=no">
<!-- 默认手机最佳宽度 -->
<meta name="MobileOptimized" content="321"> 
<link rel="stylesheet" type="text/css" href="/style/style.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<body>
<div class="container" style="padding:0px;">
	 <div class="wzfb_top">
     	  <a href="#" class="wzfh"><img src="/images/fh2.png" /></a>文章详情页
     </div>
  <div class="main">
    <div class="xq_tit">90后女生晒存款：月薪4000存3000 评论区扎心了</div>
    <div class="xq_yljs">
     	 <dl>
         	 <dt><img src="/images/tx.png" /></dt>
             <dd>
             	<h2>天天娱乐</h2>
                <p>1649万粉丝</p>
             </dd>
         </dl>
         <a href="#" class="gz">关注</a>
         <div style="clear:both"></div>
     </div>
     <div class="xq_nrjs">
     	  <p><img src="/images/grxq.png" /></p>
     	  <p>网友「身高一七五」每月工资只花一千,剩下的开支由兼职的收入来补贴。</p>
   	   <p>除了平时在网上赚点零花钱,休息天还兼职做服务员。?目前,她还在考虑星巴克的兼职,已经投了简历。</p>
     	  <p>至于日常的开销和休闲费用,她说,每个月提前规划好,这样就不会盲目的花钱。</p>
     	  <p><img src="/images/yqh.png" /></p>
     	  <p>工作5年倒欠银行10来万</p>
     	  <p>倔强的不要父母资助</p>
          
          <span class="sl">157万阅读</span>
    </div>
  </div>
  <div class="xqpj">
  	 <dl>
     	 <dt>
         	 <a href="#"><img src="/images/tx.png" /></a>
         </dt>
         <dd>
         	 <h2>李现<span>22</span></h2>
             <div class="js">中国内地男演员 2003年，参演高希希执导的电视剧《历史的天空》反一号</div>
             <p>08-23   10:36<a href="#">40回复</a></p>
         </dd>
         <div style="clear:both"></div>
     </dl>
  	 <dl>
     	 <dt>
         	 <a href="#"><img src="/images/tx.png" /></a>
         </dt>
         <dd>
         	 <h2>李现<span>22</span></h2>
             <div class="js">中国内地男演员 2003年，参演高希希执导的电视剧《历史的天空》反一号</div>
             <p>08-23   10:36<a href="#">40回复</a></p>
         </dd>
         <div style="clear:both"></div>
     </dl>
  </div>
  <div class="xq_foot">
  	 <div class="xpl_left">
     	  <input type="submit" class="xpl_sub" value="" />
          <input type="text" class="xpl_inp" placeholder="写评论~" />
     </div>
     <a href="#" class="fx"><img src="/images/zf.png" /></a>
     <a href="#" class="fx dz"><img src="/images/zan.png" /></a>
     <a href="#" class="fx"><img src="/images/pl.png" /><span>3327</span></a>
     <div style="clear:both"></div>
  </div>
</div>
</body>
</html>
<script src="/layui/layui.js"></script>
<script src="/layui/css/layui.css"></script>
<script>
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer
            , form = layui.form;
        $.ajax({
            url: "showtextDetail",
            type: "post",
            data: {},
            dataType: "json",
            success: function (msg) {
                if (msg.code == 1) {
                    alert(111);
                }
            }
        })
    })
</script>
