<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中国文艺家</title>
<meta http-equiv="x-ua-compatible" content="ie=7">
<meta name="author" content="wuyanshi">
<!-- 页面在客户端不缓存;must-revalidate 是针对某些浏览器通过返回按钮回到上一个标签而不重加载 -->
<meta http-equiv="Cache-Control" content="must-revalidate,no-cache">
<!-- 页面刷新 --> 
<meta http-equiv="refresh" content="321;">
<!-- 在iPhone的浏览器中页面将以原始大小显示，并不允许用户手动缩放 -->
<meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no;">
<meta name="format-detection" content="telephone=no">
<!-- 默认手机最佳宽度 -->
<meta name="MobileOptimized" content="321"> 
<link rel="stylesheet" type="text/css" href="/style/style.css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<body>
<div class="container" style="padding:0px;">
	 <div class="wzfb_top">
     	  <a href="#" class="wzfh"><img src="/images/fh2.png" /></a>文章详情页
     </div>
  <div class="main">
    <div class="xq_tit">{$arr.text}</div>
    <div class="xq_yljs">
     	 <dl>
         	 <dt><img src="{$res.user_image}" /></dt>
             <dd>
             	<h2>{$res.user_name}</h2>
                <p>{$res.user_fans}粉丝</p>
             </dd>
         </dl>
         <a href="#" class="gz">关注</a>
         <div style="clear:both"></div>
     </div>
     <div class="xq_nrjs">
     	  <p><img src="/uploads/{$arr.image}" /></p>
     	  <p>{$arr.content}</p>

          <span class="sl">{$arr.look}阅读</span>
    </div>
  </div>

  <div class="xq_foot">
  	 <div class="xpl_left">
     	  <input type="submit" class="xpl_sub" value="" />
          <input type="text" class="xpl_inp" placeholder="写评论~" />
     </div>
     <a href="#" class="fx"><img src="/images/zf.png" /></a>
     <a href="#" class="fx dz"><img src="/images/zan.png" /></a>
     <a href="#" class="fx"><img src="/images/pl.png" /><span>3327</span></a>
     <div style="clear:both"></div>
  </div>
</div>
</body>
</html>
<script src="/layui/layui.js"></script>
<script src="/layui/css/layui.css"></script>
<script>
    layui.use(['layer', 'form'], function() {
        var layer = layui.layer
            , form = layui.form;
        $.ajax({
            url: "showtextDetail",
            type: "post",
            data: {},
            dataType: "json",
            success: function (msg) {
                if (msg.code == 1) {
                    alert(111);
                }
            }
        })
    })
</script>
